:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --margin-side: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: "Inter", sans-serif;
}

.layout {
    height: 100vh;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.2fr 0.3fr;
    grid-template-areas:
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
    font-weight: 0.2rem;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

.nav {
    background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "widget widget widget widget"
        "statistics statistics statistics statistics"
        "content1 content1 content1 content1";
}

.widget {
    background: #27af84;
    grid-area: widget;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 var(--margin-side);
}

.statistics {
    background: #33caa7;
    grid-area: statistics;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 var(--margin-side);
}

.content1 {
    background: #189255;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 var(--margin-side);
}

.footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2.2fr 0.3fr;
        grid-template-areas:
            "nav"
            "main"
            "footer";
    }

    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr;
        grid-template-areas:
            "widget"
            "statistics"
            "content1"
    }

}
